* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 40px;
    background-color: #1f2937;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: #f59e0b;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f59e0b;
}

.nav-buttons {
    display: flex;
    gap: 12px;
}

.login-btn,
.register-btn {
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}

.login-btn {
    background: white;
}

.register-btn {
    background: #f59e0b;
    color: white;
}

.login-btn:hover,
.register-btn:hover {
    opacity: 0.9;
}